<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ config.title }}</title>
    <style>{{ stylesheet }}</style>
</head>

<body>
    {% if page == "home" %}
    <h1>{{ config.title }}</h1>
    {% else %}
    <h1><a href="/{{ slug }}.html">{{ meta.title }}</a></h1>
    <article>
        {{ content }}
    </article>
    {% endif %}
    <script type="text/x-mathjax-config">
    window.MathJax = {tex: {inlineMath: [['$', '$'], ['\\(', '\\)']] } };
    </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</body>

</html>